* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }
  
  /* 全体を囲う枠 */
.box_wrap {
    border: 2px solid black;
    border-radius: 20px;
    padding: 1%;
    margin: 3%;
}

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;/* これで円自体の縦軸が中央揃えになる。 */
    justify-content: center;/* これで円自体の横軸が中央揃えになる。 */
    width: 100%;
    margin: 10px auto;
  }
  
  .circle {
    position: relative;
    border-radius: 50%;
    display: flex; /* これで文字の縦横軸が中央揃えになる準備ができる */
    align-items: center; /* これで文字の縦軸が中央揃えになる */
    justify-content: center; /* これで文字の横軸が中央揃えになる */
  }

  .circle_small {
    background-color: #000;/* circle自体じゃなく、色や大きさなど要素が違うところは、独自クラスの方に記載 */
    width: 16vw;
    height: 16vw;
  }

  .circle span {
    display: block;
    width: 60%;
    height: auto;
    text-align: center;/* 文字の横軸を中央揃え */
  }
    

  .circle_small span {
    color: #fff;
  }

  .circle_large {
    background-color: #fff;/* circle自体じゃなく、色や大きさなど要素が違うところは、独自クラスの方に記載 */
    border: solid 2px orange;
    width: 20vw;
    height: 20vw;
  }

  .circle_large span {
    color: orange;
  }

  .multiplication,
  .eaual {
    padding: 0 2vw;
    font-size: 3vw;
  }
  